Repository kiraware/PyBMKG: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, mkdocs-build

pytest:
  name: pytest
  entry: poetry run pytest
  language: system
  pass_filenames: false

mkdocs-build:
  name: Build the MkDocs documentation
  entry: poetry run mkdocs build
  language: system
  pass_filenames: false

fix mypy not detect pytest in dev ci (#46)
  .github/workflows/dev.yml
Due: none

improve task runner (#49)
  .github/workflows/dev.yml
  .github/workflows/test.yml
  docs/how-to-guides.md
  pyproject.toml
Due: mkdocs-build

add `asyncio_default_fixture_loop_scope = function` (#50)
  pyproject.toml
Due: none

add lint rule
  .pre-commit-config.yaml
  pyproject.toml
Due: none

update docs and code to match new rule
  src/bmkg/parsers/parse_weather_forecast_data.py
  tests/test_parsers/test_parse_datetime_element.py
  tests/test_parsers/test_parse_humidity_element.py
  tests/test_parsers/test_parse_temperature_element.py
  tests/test_parsers/test_parse_weather_element.py
  tests/test_parsers/test_parse_wind_direction_element.py
  tests/test_parsers/test_parse_wind_speed_element.py
Due: pytest

update docs
  docs/how-to-guides.md
Due: mkdocs-build

update docs and code to match new rule (#51)
  .github/workflows/release.yml
  .pre-commit-config.yaml
  docs/how-to-guides.md
  pyproject.toml
  src/bmkg/parsers/parse_weather_forecast_data.py
  tests/test_parsers/test_parse_datetime_element.py
  tests/test_parsers/test_parse_humidity_element.py
  tests/test_parsers/test_parse_temperature_element.py
  tests/test_parsers/test_parse_weather_element.py
  tests/test_parsers/test_parse_wind_direction_element.py
  tests/test_parsers/test_parse_wind_speed_element.py
Due: pytest, mkdocs-build

Change zip `strict=True` in parse_weather_forecast_data
  src/bmkg/parsers/parse_weather_forecast_data.py
Due: pytest

docs: beautify parsers docstring in src and test
  src/bmkg/parsers/parse_area_element.py
  src/bmkg/parsers/parse_datetime_element.py
  src/bmkg/parsers/parse_humidity_element.py
  src/bmkg/parsers/parse_issue_element.py
  src/bmkg/parsers/parse_temperature_element.py
  src/bmkg/parsers/parse_weather_element.py
  src/bmkg/parsers/parse_wind_direction_element.py
  src/bmkg/parsers/parse_wind_speed_element.py
  tests/test_parsers/test_parse_weather_forecast_data.py
Due: pytest

docs: beautify parsers docstring in src and test (#53)
  src/bmkg/parsers/parse_area_element.py
  src/bmkg/parsers/parse_datetime_element.py
  src/bmkg/parsers/parse_humidity_element.py
  src/bmkg/parsers/parse_issue_element.py
  src/bmkg/parsers/parse_temperature_element.py
  src/bmkg/parsers/parse_weather_element.py
  src/bmkg/parsers/parse_wind_direction_element.py
  src/bmkg/parsers/parse_wind_speed_element.py
  tests/test_parsers/test_parse_weather_forecast_data.py
Due: pytest

ci: change dependabot versioning strategy
  .github/dependabot.yml
Due: none

ci: change dependabot versioning strategy (#54)
  .github/dependabot.yml
Due: none

use increase-if-necessary dependabot versioning strategy
  .github/dependabot.yml
Due: none

use `increase-if-necessary` dependabot `versioning-strategy` (#56)
  .github/dependabot.yml
Due: none

update precommit
  .pre-commit-config.yaml
Due: none

Update dev.yml
  .github/workflows/dev.yml
Due: none

Update release.yml
  .github/workflows/release.yml
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

Add support python 3.13 (#62)
  .github/workflows/dev.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

update pre-commit
  .pre-commit-config.yaml
Due: none

remove unused enums
  src/bmkg/enums/__init__.py
  src/bmkg/enums/province.py
  src/bmkg/enums/sexa.py
  src/bmkg/enums/type.py
Due: pytest

update schemas
  src/bmkg/schemas/__init__.py
  src/bmkg/schemas/area.py
  src/bmkg/schemas/data.py
  src/bmkg/schemas/forecast.py
  src/bmkg/schemas/humidity.py
  src/bmkg/schemas/location.py
  src/bmkg/schemas/name.py
  src/bmkg/schemas/temperature.py
  src/bmkg/schemas/weather.py
  src/bmkg/schemas/weather_forecast.py
  src/bmkg/schemas/wind_direction.py
  src/bmkg/schemas/wind_speed.py
Due: pytest

update parsers
  src/bmkg/parsers/__init__.py
  src/bmkg/parsers/parse_area_element.py
  src/bmkg/parsers/parse_data_element.py
  src/bmkg/parsers/parse_datetime_element.py
  src/bmkg/parsers/parse_forecast_element.py
  src/bmkg/parsers/parse_humidity_element.py
  src/bmkg/parsers/parse_issue_element.py
  src/bmkg/parsers/parse_location_data.py
  src/bmkg/parsers/parse_temperature_element.py
  src/bmkg/parsers/parse_weather_data.py
  src/bmkg/parsers/parse_weather_element.py
  src/bmkg/parsers/parse_weather_forecast_data.py
  src/bmkg/parsers/parse_wind_direction_element.py
  src/bmkg/parsers/parse_wind_speed_element.py
Due: pytest

update types
  src/bmkg/types.py
Due: pytest

fix tests
  tests/test_integration/test_earthquake_integration.py
  tests/test_integration/test_weather_forecast_integration.py
  tests/test_parsers/__init__.py
  tests/test_parsers/test_parse_area_element.py
  tests/test_parsers/test_parse_data_element.py
  tests/test_parsers/test_parse_datetime_element.py
  tests/test_parsers/test_parse_forecast_element.py
  tests/test_parsers/test_parse_humidity_element.py
  tests/test_parsers/test_parse_issue_element.py
  tests/test_parsers/test_parse_temperature_element.py
  tests/test_parsers/test_parse_weather_element.py
  tests/test_parsers/test_parse_weather_forecast_data.py
  tests/test_parsers/test_parse_wind_direction_element.py
  tests/test_parsers/test_parse_wind_speed_element.py
Due: pytest

remove unusede exception
  src/bmkg/exceptions.py
Due: pytest

update bmkg api wrapper
  src/bmkg/api/__init__.py
  src/bmkg/api/api.py
  src/bmkg/api/bmkg.py
  src/bmkg/api/earthquake.py
  src/bmkg/api/shakemap.py
  src/bmkg/api/weather_forecast.py
Due: pytest

update init
  src/bmkg/__init__.py
Due: pytest

bump to 3.0.0
  pyproject.toml
Due: none

update docs
  README.md
  docs/index.md
  docs/tutorials.md
Due: mkdocs-build

remove defusedxml and types-defusedxml from dependency
  poetry.lock
  pyproject.toml
Due: none

add test api
  tests/test_api.py
Due: pytest

fix typo
  tests/test_api.py
Due: pytest

tidy up docs and docstring
  docs/tutorials.md
  src/bmkg/api/weather_forecast.py
  src/bmkg/schemas/weather.py
Due: pytest, mkdocs-build

tidy up docs and docstring (#64)
  docs/tutorials.md
  src/bmkg/api/weather_forecast.py
  src/bmkg/schemas/weather.py
Due: pytest, mkdocs-build

use latest python in precommit and readthedocs, use latest ubuntu in readthedocs config
  .pre-commit-config.yaml
  .readthedocs.yaml
Due: none

use latest python and ubuntu in config (#65)
  .pre-commit-config.yaml
  .readthedocs.yaml
Due: none

Path conditions:
  pytest: any of: \.py$
  mkdocs-build: any of: ^docs/ and \.(md|markdown|mdown)$
