Repository kiraware/PyBMKG: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, mkdocs-build

.pre-commit-config.yaml:

ci:
  skip: [pytest]

default_language_version:
  python: python3.12

repos:
  # general checks (see here: https://pre-commit.com/hooks.html)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # mypy - lint-like type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        name: mypy

  # bandit - find common security issues
  - repo: https://github.com/pycqa/bandit
    rev: 1.7.8
    hooks:
      - id: bandit
        name: bandit
        args: [-c, pyproject.toml, -r, .]

  # ruff - linting and format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.3.2"
    hooks:
      - id: ruff
        args: [--fix]
        name: ruff
      - id: ruff-format
        name: ruff format

  # pytest - testing
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: poetry run pytest
        language: system
        types: [python]
        pass_filenames: false

  # prettier - formatting Markdown
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types: [text, markdown]
        exclude: ^poetry.lock

  # mkdocs - build the documentation
  - repo: local
    hooks:
      - id: mkdocs-build
        name: Build the MkDocs documentation
        entry: poetry run mkdocs build
        language: system
        files: ^docs/
        types: [text, markdown]
        pass_filenames: false

  # poetry - check, lock, and install
  - repo: https://github.com/python-poetry/poetry
    rev: "1.8.0"
    hooks:
      - id: poetry-check
      - id: poetry-lock
      - id: poetry-install

add defusedxml stub (#25)
  poetry.lock
  pyproject.toml
  src/bmkg/parsers/parse_weather_forecast_data.py
  src/bmkg/types.py
Due: pytest

update precommit hook (#26)
  .pre-commit-config.yaml
Due: none

update lock and precommit
  .pre-commit-config.yaml
  poetry.lock
Due: none

make api independent from each other
  src/bmkg/api/api.py
  src/bmkg/api/bmkg.py
  src/bmkg/api/earthquake.py
  src/bmkg/api/shakemap.py
Due: pytest

Make API independent from each other (#28)
  src/bmkg/api/api.py
  src/bmkg/api/bmkg.py
  src/bmkg/api/earthquake.py
  src/bmkg/api/shakemap.py
Due: pytest

update dependencies, lockfile, and pre-commit
  .pre-commit-config.yaml
  poetry.lock
Due: none

Create belom
  belom
Due: none

update lockfile and pre-commit config
  .pre-commit-config.yaml
  poetry.lock
Due: none

update lockfile and precommit config
  .pre-commit-config.yaml
  poetry.lock
Due: none

update codeql yml
  .github/workflows/codeql.yml
Due: none

improve docs
  .github/workflows/release.yml
  README.md
  docs/how-to-guides.md
  docs/index.md
Due: mkdocs-build

update codeql yml (#33)
  .github/workflows/codeql.yml
Due: none

improve docs (#34)
  .github/workflows/release.yml
  README.md
  docs/how-to-guides.md
  docs/index.md
Due: mkdocs-build

add usage code
  README.md
  docs/index.md
Due: mkdocs-build

fix typo
  README.md
  docs/index.md
Due: mkdocs-build

update usage code in readme (#35)
  README.md
  docs/index.md
Due: mkdocs-build

fix typo (#36)
  README.md
  docs/index.md
Due: mkdocs-build

update github workflow
  .github/workflows/dev.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

update docs
  README.md
  docs/how-to-guides.md
  docs/index.md
  mkdocs.yml
Due: mkdocs-build

update version to 2.1.0
  pyproject.toml
Due: none

update github workflow (#37)
  .github/workflows/dev.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

update docs (#38)
  README.md
  docs/how-to-guides.md
  docs/index.md
  mkdocs.yml
Due: mkdocs-build

update version to 2.1.0 (#39)
  pyproject.toml
Due: none

remove unnecessary test env workflow
  .github/workflows/test.yml
Due: none

add non facade docs
  docs/tutorials.md
  mkdocs.yml
Due: mkdocs-build

add non facade tests
  tests/test_integration/test_earthquake_integration.py
  tests/test_integration/test_weather_forecast_integration.py
Due: pytest

update contributing guide and create CONTRIBUTING.md
  CONTRIBUTING.md
  docs/how-to-guides.md
Due: mkdocs-build

rename wrong test function name
  tests/test_parsers/test_parse_issue_element.py
Due: pytest

update timestamp parser in issue tag
  src/bmkg/parsers/parse_issue_element.py
  tests/test_parsers/test_parse_issue_element.py
Due: pytest

upgrade version to 2.1.1
  pyproject.toml
Due: none

fix mypy not detect pytest in dev ci
  .github/workflows/dev.yml
Due: none

improve task runner
  .github/workflows/dev.yml
  .github/workflows/test.yml
  docs/how-to-guides.md
  pyproject.toml
Due: mkdocs-build

add `asyncio_default_fixture_loop_scope = function`
  pyproject.toml
Due: none

Change release environment and remove prettier
  .github/workflows/release.yml
  .pre-commit-config.yaml
  docs/how-to-guides.md
Due: mkdocs-build

update lockfile and precommit config
  poetry.lock
  pyproject.toml
Due: none

remove unnecessary test env workflow (#40)
  .github/workflows/test.yml
Due: none

Docs and test nonfacade api (#41)
  CONTRIBUTING.md
  docs/how-to-guides.md
  docs/tutorials.md
  mkdocs.yml
  tests/test_integration/test_earthquake_integration.py
  tests/test_integration/test_weather_forecast_integration.py
Due: pytest, mkdocs-build

Fix timestamp parsing (#42)
  src/bmkg/parsers/parse_issue_element.py
  tests/test_parsers/test_parse_issue_element.py
Due: pytest

upgrade version to 2.1.1 (#43)
  pyproject.toml
Due: none
